<div id="page">
  <div id="taskPage" *ngIf="!loadingTaks; else loading">
    <h1>Tasks List</h1>
    <div id="task_tables">
      <app-task-table
        title="Done List"
        [tasks]="getTasks(TASK_STATUS.DONE)"
        (onActionEvent)="onTaskTableAction($event)"
      ></app-task-table>
      <app-task-table
        title="To-Do List"
        [tasks]="getTasks(TASK_STATUS.TODO)"
        (onActionEvent)="onTaskTableAction($event)"
      ></app-task-table>
    </div>
    <p class="button" (click)="addNewTask()">+ Add new task</p>
  </div>
  <ng-template #loading><h1>Loading...</h1></ng-template>
</div>