<form
    id="newTaskForm"
    [formGroup]="newTaskForm"
    (ngSubmit)="onSubmit()"
    #formDir="ngForm">
    <div [hidden]="formDir.submitted">
        <label for="title">Title</label><br>
        <input
            matInput
            type="text"
            formControlName="title"
        /><br>
        <label for="author">Author</label><br>
        <input
            matInput
            type="text"
            formControlName="author"
        /><br>
        <label for="description">Description</label><br>
        <input
            matInput
            type="text"
            formControlName="description"
        /><br>
        <input type="submit" value="Add task"/>
    </div>
</form>